.container{
    margin-top: 2rem ;
}
.home-header{
    font-size :xx-large;
    font-weight: 800;
}
.home-content{
    font-size:medium;
    font-weight: 500;
}
.error{
    color: rgb(221, 0, 0);
}
.centre-button{
    display: flex;
    justify-content: center;
}